/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use "variables";
@use "mixins";

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: variables.$white;
	font-family: variables.$main-font;
}

/* 2. Content ================================= */

.poke-header{
	
	text-transform: uppercase;
	.poke-nav{
		display: none;
		@include mixins.bp-medium{
			display: block;
		}
		.poke-ul{
			display: flex;
			justify-content: flex-end;
			
			li{
				margin: 10px;
				a{
					text-decoration: none;
					
					// color:white;
					color: black;
				}
			}
		}
	}
	a{
		text-decoration: none;
		background-color: rgb(53, 139, 118);
		color: variables.$white;
		font-size: 15px;
		padding: 10px;
	}
}
.main-container{
		
	.hero-container{
			background: url(/src/img/header_img.jpg);
			background-size: cover;
			background-position: center;
			text-align: center;
			padding-top: -10px;
			svg{
			    margin: auto -25px;
			}
			path{
				fill: white;
				
			}
			h1{
				font-family: variables.$title-font;
				color:variables.$white;
				font-size: 43px;
				margin-bottom: 1rem;
				transform: rotate(-10deg);
				
			}
			h2,h3{
				color:variables.$white;
				margin-bottom: .25rem;
			}
			h2{
				font-size: 20px;
				font-weight: bold;
			}
			.hero-flex{
				display:flex;
				justify-content: center;
			}
			.hero-social{
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				color:white;
				// align-content: center;
				justify-content: flex-end;
			}
			
	
	}
	.post-card-container{
		background: rgb(241, 184, 24);
		background-repeat: no-repeat;
		height: 70vh;
		// background-size: cover;
		// background: yellow;

		img{
			width: 60%;
			height:60%;
			margin: 50px 20px 50px 30px;
			border: solid 10px white;
			// position: absolute;
			z-index: -1;
			
		}
		.post-card-div{
			background: white;
			text-align: center;
			color: rgb(53, 139, 118);
			// margin-top: -10rem;
			width:60vw;
			height: 45vh;
			margin: 0 auto;
			position:absolute;
			z-index: 1;
			margin-top: -20rem;
			margin-left: 10rem;
			padding:30px;
			line-height: 30px;
			// position: relative;
			h4{
				font-family: variables.$title-font;
				transform: rotate(-10deg);
				font-size: 25px;
				margin-bottom: 2rem;
			}
		}
	}
	.gallery-container{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap:20px;
		margin-bottom: 20px;
		margin-top: 20px;
		
		img{
			width: 240px;

		}
	}
	.catering-container{
		background: url(/src/img/catering_img.jpg);
		// background: violet;
		width: 100vw;
		height:80vh;
		background-size: cover;
		.catering-div{
			background: white;
			text-align: center;
			color:rgb(53, 139, 118);
			width:60vw;
			height: 45vh;
			margin: 0 auto;
			margin-top: 8rem;
			position:absolute;
			margin-left: 6rem;
			h4{
				font-family: variables.$title-font;
				transform: rotate(-10deg);
				font-size: 25px;
				margin-bottom: 2rem;
				margin-top: 2rem;
				position: relative;
			}
		}
	}
	.hungry-container{
		background: white;
		color: rgb(53, 139, 118);
		text-align: center;
		margin: 20px;
		img{
			width: 100px;
			transform: scaleY(1);
			transform: rotate(-90deg);
			margin-top: 20px;
			position: top left;
			margin-bottom: 2rem;
			// transform: scaleZ(-1);
		}
		h4{
			font-family: variables.$title-font;
				transform: rotate(-10deg);
				font-size: 25px;
				margin-bottom: 3rem;
				margin-top: 2rem;
		}
		p{
			line-height: 25px;
		}
		.hungry-p{
			padding-bottom: 30px;;
		}
		// p:nth-child(1){
		// 	margin-bottom: 40px;
		// }
		.item{
			margin-bottom: 50px;
		}
		.C{
			margin-bottom: 4rem;
			
		}

		

	}
	
}
