/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use "variables";
@use "mixins";

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: variables.$white;
	font-family: variables.$main-font;
	
}

/* 2. Content ================================= */

header{
	background: url(/src/img/header_img.jpg);
	background-size: cover;
	background-position: center;
	height: 80vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	@include mixins.bp-medium{
		height:100vh;
	}
	
	svg{
		position: relative;
		left: 50%;
		top:130px;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		@include mixins.bp-medium{
			position: fixed;
			left: 5%;
			top: 2%;
			z-index: 6;
		}
		
		path{
			fill: white;
			margin: 0 auto;
		}	
	}
	.active-link{
		text-decoration: none;
		color: variables.$white;
		background-color: variables.$green;
		width: 35vw;
		height: 5vh;
		font-size: 20px;
		position: absolute;
		text-align: center;
		top:0px;
		text-transform: uppercase;
		padding-top: 15px;
		&:hover{
			color:black;
		}
		@include mixins.bp-medium{
			display: none;
		}		
	}

	h1, 
	h2,
	h3{
		color: variables.$white;
		text-align: center;
		font-size: 20px;
		margin-bottom: 2rem;
		letter-spacing: 5px;
		transform: scaleY(1.5);
		
	}
	h1{
		font-family: variables.$title-font;
		font-size: 43px;
		transform: rotate(-10deg);
		margin-bottom: 2rem;
		margin-top: 15rem;
		@include mixins.bp-medium{
			font-size: 176px;
			margin-top: 25rem;
		}
	}
	h2{
		font-weight: bold;
		@include mixins.bp-medium{
			font-size: 26px;
		}	
	}
	h3{
		font-size: 16px;
		@include mixins.bp-medium{
			font-size: 20px;
		}
	}
	.toggle{
		opacity: 0;
	}
	.toggle:checked + nav{
		display: block;
	}
	label{
		position: absolute;
		top: 0;
		right: 0;
		margin: 10px;
		// font-size: 50px;
		z-index: 6;
		color: white;
		@include mixins.bp-medium{
			display: none;
		}
		
		span{
			width: 50px;
			height: 5px;
			display: block;
			background-color: white;
			margin:10px;
			transition: .5s;
		}

	}
	.toggle:checked ~ label{
		&:hover span{
			background-color: variables.$green;
		}
		span{
			background-color: black;
			&:nth-child(1){
				transform: translateY(15px) rotate(-405deg) ;
			
			}
			&:nth-child(2){
				transform: rotate(405deg);
			}
			
		}
	}
	nav{
		background-color: variables.$yellow;
		text-align: left;
		position: absolute;
		top:0;
		right:0;
		height: 80vh;
		width: 80vw;
		display: none;
		z-index: 5;

		@include mixins.bp-medium{
			background: none;
			display: block;
			position: fixed;
			height: auto;	
			width: auto;
		}
		
		ul{
			display: flex;
			flex-direction: column;
			@include mixins.bp-medium{
				flex-direction: row;
				justify-content: flex-end;
				margin-right: 100px;
			}
			li{
				margin: 40px;
				a{
					text-decoration: none;
					color: black;
					font-size: 20px;
					&:hover{
						color: variables.$green;

						@include mixins.bp-medium{
							color: variables.$green;
						}
					}
					@include mixins.bp-medium{
						color: variables.$white;
					}
				}
				.home-active{
					@include mixins.bp-medium{
						color: variables.$green;	
					}	
				}
			}
			.active-desktop{
				a{
					&:hover{
						color: black;
					}
					@include mixins.bp-medium{
						background-color: variables.$green;
						color: variables.$white;
						padding: 5px;
						&:hover{
							@include mixins.bp-medium{
								color: black;
							}
						}
					}	
				}
			}
			
			ol{
				display: flex;
				justify-content: center;
				margin-top: 2rem;
				@include mixins.bp-medium{
					flex-direction: column;
					position: fixed;
					right: 5%;
					top: 35%;
				}
				li{
					margin:20px;
					a{
						color: white;
						font-size: 25px;
						transition: .5s;
						&:hover{
							color: rgb(93, 201, 174);
							transform: rotate(360deg);
							display: block;
							
						}	
					}
				}
			}
		}
	}	


	.fa-comment{
		position: fixed;
		bottom: 0;
		right: 0;
		z-index:5;
		color: variables.$green;
		font-size: 80px;
		margin-right: 20px;
		margin-bottom: 10px;
		border-radius: 50px;

		@include mixins.bp-medium{
			display:none;
		}	
	}
}

.main{
	h4{
		font-family: variables.$title-font;
		color: variables.$green;
		transform: rotate(-10deg);
		font-size: 25px;
		margin-top: 50px;
		margin-bottom: 50px;
		@include mixins.bp-medium{
			font-size: 40px;
		}
	}
	
	p{
		color: variables.$green;
	}
	.poke-postcard-back{
		max-width: 400px;
		
	}
	.poke-postcards {
		display: grid;
		grid-template-columns:  1fr repeat(9, 1fr) 1fr;
		grid-template-rows: 1fr repeat(8, 1fr) 1fr;
		background: variables.$yellow ;
		height: 80vh;
		width: 100vw;
		color: variables.$green;
		position: relative;
		@include mixins.bp-medium{
			height:100vh;
			grid-template-columns:  2fr repeat(9, 1fr) 2fr;
		
		}

		&::before{
			content: "";
			background: url("/src/img/wave.svg");
			background-size: cover;
			background-position: center;
			width: 100px;
			height: 100px;
			position: absolute;
			top: 8%;
			right: 10px;
			z-index: 2;
				@include mixins.bp-medium{
					width: 150px;
					top: 18%;
					right: 22%;
				}
		}
		img{
			position: absolute;
			top: -10;
			right:0;
			right: 35px;
			top: 65px;
			@include mixins.bp-medium{
				right: 30%;
				top: 20%;
			}
		}
	}

	.poke-postcard-back{
		background-image: url(/src/img/main_img.jpg);
		background-size: cover;
		background-position: center;
		z-index: 0;
		border: white solid 10px;
		grid-column: 2/span 8;
		grid-row: 2/span 7;
		
		@include mixins.bp-medium{	
			grid-column: 2/span 5;
			grid-row: 2/span 7;
		}

	}
	.poke-postcard-front{
		background: white;
		text-align: center;
		grid-column: 3/ span 8;
		grid-row: 3/span 7;
		position: relative;

		
		@include mixins.bp-medium{
			grid-column: 3/ span 7;
			grid-row: 3/ span 5;
			display: grid;
			grid-template-columns: repeat(8,1fr);
			grid-template-rows: repeat(6,1fr);	
			&::before{
				content: "";
				background-color: variables.$green;
				width: 5px;
				height: 300px;
				position: absolute;
				top: 25%;
				left: 50%;
				z-index: 2;	
			}
		}

		>h4{
			@include mixins.bp-medium{
				grid-column: 3/7;	
			}
			
		}

		>p{
			text-align: center;
			line-height: 40px;
			margin-bottom: 50px;
			@include mixins.bp-medium{
				grid-row: 3/5;
    			grid-column: 1/5;	
			}	
		}
		
		a{
			text-decoration: none;
			color: variables.$green;
			font-size: 20px;
			border: solid 1px variables.$green;
			padding: 10px;
			&:hover{
				background: variables.$green;
				color: variables.$white;
				transition: ease-in-out .5s;
			}
			@include mixins.bp-medium{
				grid-row: 4/3;
				grid-column: 6/8;
				padding: 0;
			}
		}	
	}
	.gallery-images {
		
        display: grid;
        gap: 2em;
        margin: 2em;
        max-width: 1300px;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        @include mixins.bp-medium {
            grid-template-columns: repeat(4, 1fr);
            gap: 3em;
            margin: 3em auto;
		}
		
        img {
			
            width: 100%;
            height: auto;
            &:hover {
                display: block;
                filter: drop-shadow(0px 16px 10px rgb(163, 240, 210));
				transition: ease-in-out 0.3s;
				
            }
        }
    }
	.catering-postcard{
		background: url(/src/img/catering_img.jpg);
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		height: 80vh;
		width: 100vw;
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(9, 1fr);
		@include mixins.bp-medium{
			height:100vh;
		}
		
		.number-2{
			background: white;
			text-align: center;
			margin: 0px auto;
			z-index: 1;
			grid-column: 3/8;
			grid-row: 3/8;
			
			@include mixins.bp-medium{
				grid-column: 4/7;
    			grid-row: 5/8;
			}
			>p{
				color: variables.$green;
				margin: 25px;
				line-height: 25px;
				@include mixins.bp-medium{
    				line-height: 25px;
				}
			}	
			a{
				text-decoration: none;
				color: variables.$green;
				
				border: solid 1px variables.$green;
				padding: 10px;
				&:hover{
					background: variables.$green;
					color: variables.$white;
					transition: ease-in-out .5s;
				}
				@include mixins.bp-medium{
					font-size: 20px;
					grid-row: 4/3;
					grid-column: 6/8;
				}
			}
		}
	}

	.hungry-postcard{
		display: grid;
		height: 80vh;
		width: 100vw;
		position: relative;
		@include mixins.bp-medium{
			background: #f7cef5;
			height: 50vh;
		}
		
		img{
			position: absolute;
			right:42px;
			z-index: 2;
			@include mixins.bp-medium{
				right: 55px;
    			top: 10px;
			}	
		}
		.number-3{
			background: white;
			text-align: center;
			position: relative;
			margin: 0 auto;
			z-index: 1;
			grid-column: 1/9;

			@include mixins.bp-medium{
				grid-row: 3;
				width: 75vw;
				height: 40vh;
			}

			&::before{
				content: "";
				background-image: url(/src/img/footer_img.jpg);
				background-size: cover;
				background-position: center;
				width: 100px;
				height: 130px;
				position: absolute;
				margin-left: 0 auto;
				top: 10px;
				right: 4px;
				z-index: 2;
				@include mixins.bp-medium{
					top:20px;
					right:20px;
				}
			}

			>h4{
				margin-top: 10rem;
				@include mixins.bp-medium{
					margin-top: 5rem;
				}
			}
			>p{
				margin-bottom: 5em;
			}
				
		}
		.item-flex{
			display: flex;
			flex-direction: column;
			align-self: flex-end;
			@include mixins.bp-medium{
				flex-direction: row;
				justify-content: space-around;
			}
			.item{
				margin-bottom: 50px;
				line-height: 20px;
				>p{
					>a{
						border: none;
					}
				}
			}
		}
	}
}	

footer{
	background: #f7cef5;
	color: rgb(219, 141, 206);
	text-align: center;
	padding: 40px;
	font-size: 16px;
	line-height: 20px;
	@include mixins.bp-medium{
		padding: 20px;
	}
}