/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use "variables";
@use "mixins";

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: variables.$white;
	font-family: variables.$main-font;
}

/* 2. Content ================================= */

header{
	background: url(/src/img/header_img.jpg);
	background-size: cover;
	background-position: center;
	height: 80vh;
	width: 100vw;
	.close-nav{
		color: white;
		width: 100px;
		height: 10px;
	}
	
	a{
		text-decoration: none;
		color:white;
		margin-left: 0;
		text-transform: uppercase;
		background: rgb(53, 139, 118);
		padding: 10px;
		@include mixins.bp-medium{
			display: none;
		}
		
	}
	.header-title{
		text-align: center;
		color: variables.$white;
		// margin-top: 24rem;
		>h1{
			font-family: variables.$title-font;
			transform: rotate(-10deg);
			font-size: 43px;
			margin-bottom: 1rem;
		}
		>h2{
			font-weight: bold;
			transform: scaleY(1.5);
			letter-spacing: 3px;
		}
		>h3{
			transform: scaleY(1.5);
			letter-spacing: 3px;
		}
	}
	.open-nav nav{
		// position: absolute;
		display: none;
		@include mixins.bp-medium{
			display: block;
		}
		ul{
			
			li{
				background: rgb(226, 192, 43);
				text-align: right;
				position: left;
				
				a{
					position: relative;
					color: black;
					background: none;
				}
			}
		}
	}

}
.main{
	h4{
		font-family: variables.$title-font;
		color: variables.$green;
		transform: rotate(-10deg);
		font-size: 25px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	a{
		color: variables.$green;
		text-decoration: none;
		border: 1px solid variables.$green;
		padding: 2px 30px 2px 30px;
		width: 30vw;
    	margin: 0 auto;
		
	}
	p{
		color: variables.$green;
	}
	// img #chat{
	// 	position: sticky;
	// 	bottom: 0;
	// }
	.poke-postcard-front {
		display: grid;
		grid-template-columns:  repeat(9, 1fr);
		grid-template-rows: repeat(8, 1fr);
		background: variables.$yellow ;
		height: 80vh;
		width: 100vw;
		color: variables.$green;
		
		a{
			&:hover{
				background: variables.$green;
				color: variables.$white;
				transition: ease-in-out .5s;
			}
		}
		
		&::before{
			content: "";
			background-image: url(/src/img/main_img.jpg);
			background-size: cover;
			background-position: center;
			width: 70vw;
    		height: 60vh;
			position: absolute;
			margin-left: 0 auto;
			margin-top: 55px;
			left: 50px;
			z-index: 0;
			border: white solid 10px;


		}
	}
	.post-card-front-div{
		background: white;
		text-align: center;
		grid-column: 3/9;
		grid-row: 2/8;
		width: 70vw;
		height: 65vh;
		position: relative;
		

		
		@include mixins.bp-medium{
			grid-column: 5/9;
			width:35vw;

		}
		>p{
			text-align: center;
			line-height: 40px;
			margin-bottom: 50px;
		}
		.poke-flex{
			display: flex;
			flex-direction: column;
			@include mixins.bp-medium{
				flex-direction: row;
			}
			>p{
				line-height: 30px;
				margin:20px;
			}
		}
		
	}
	.gallery-images{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-gap:30px;
		margin-bottom: 20px;
		margin-top: 20px;
		margin-left: 20px;
		@include mixins.bp-medium{
			grid-template-columns: repeat(4,1fr);
			grid-gap: 70px;
			margin: 50px 50px 50px 50px;	
		}
		
		img{
			width: 210px;
			&:hover{
				filter: blur(10px);
				// background: red;
				background-color: rgb(193, 193, 243);
				background-blend-mode: multiply;
				transition: ease-in-out .3s;
				// background-blend-mode: hard-light;
				// transition: ease-in-out .3s;
			}
			@include mixins.bp-medium{
				width: 375px;
			}
			
			
		}
	}
	.catering-postcard{
		background: url(/src/img/catering_img.jpg);
		
		background-position: center;
		background-attachment: fixed;
		height: 80vh;
		width: 100vw;
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(8, 1fr);
		
		.number-2{
			margin: 0px auto;
			z-index: 1;
			grid-column: 2/6;
			grid-row: 2/7;
			height: 60vh;
			width: 78vw;
			
			@include mixins.bp-medium{
				height: 55vh;
				width: 30vw;
				grid-column: 5/6;
			}
			>p{
				color: variables.$green;
				margin: 25px;
			}
			a{
				&:hover{
					background: variables.$green;
					color: variables.$white;
					transition: ease-in-out .5s;
				}
			}
		}
		@include mixins.bp-medium{
			background-size: contain;
			background-position: inherit;
			
		}
	}

	.hungry-postcard{
		display: grid;
		height: 80vh;
		width: 100vw;
		position: relative;
		@include mixins.bp-medium{
			background: #f7cef5;
			height: 55vh;
		}
		&::before{
			content: "";
			background-image: url(/src/img/footer_img.jpg);
			background-size: cover;
			background-position: center;
			width: 100px;
			height: 150px;
			// position: right;
			position: absolute;
			margin-left: 0 auto;
			top: 10px;
    		right: 34px;
    		z-index: 2;


		}
		
		.number-3{
			margin: 0 auto;
			z-index: 1;
			grid-column: 1/9;
			@include mixins.bp-medium{
				
				grid-row: 3;
				width: 75vw;
    			height: 40vh;
			}
			
		}
		.item-flex{
			display: flex;
			flex-direction: column;
			@include mixins.bp-medium{
				flex-direction: row;
				justify-content: space-around;
			}
			.item{
				margin-bottom: 50px;
				line-height: 20px;
				>p{
					>a{
					border: none;
				}
				}
			}
		}
	}
	
}
footer{
	background: #f7cef5;
	color: rgb(219, 141, 206);
	text-align: center;
	padding: 40px;
	font-size: 16px;
	line-height: 20px;
}